h1 {
    color: #7D8F66;
    border-bottom: 2px solid #85AD86;
}

h2 {
    color: #85AD86;
    margin-left: 20px;
}

p.intro {
    margin-left: 60px;
    margin-right: 60px;
    font-size: large;
    color: #4A4A48;
}

img.over {
    margin: 0 124px;
}

body {
    background-color:#566246;
}

header{
    margin: 0 auto;
    width: 80vw;
    padding: 2rem;
    background-color: #F1F2EB;
}

#linksection {
    margin: 0 auto;
    width: 80vw;
    padding: 2rem;
    background-color: #F1F2EB;
    font-size: large;
}

ul {
    padding: 2rem;
    background-color: #D8DAD3; 
}

hr {
    color: #4A4A48;
}

a:link {
    color: #566246  ;
}

a:visited {
    color: #A4C2A5;
}

a:hover {
    color: #85AD86;
}

a:focus {
    color: #85AD86;
    border: 1px solid #85AD86;
}

a:active {
    color: #7D8F66;
} 